.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  margin-top: 4em;
}

.label {
  font-family: monospace;
  font-size: 2rem;
}

.main form {
  display: flex;
  flex-direction: row;
  width: 60%;
  margin: 0 auto;
}

.main form > button {
  padding: 0 1em;
  margin: 0 4px;
}

.input {
  padding: 1em;
  border-radius: 0.4em;
  font-size: 1.2em;
  width: 90%;
}

.section {
  margin-top: 4em;
}

.tasks li {
  color: cyan;
  font-size: 1.2rem;
}

.tasks li button {
  margin: 0 0.4em;
  padding: 0.2em;
}
